.conocimientos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-body {
    width: 100%;
}

.trabajos {
    max-width: 2100px;
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Contenedor en grid de 6 columnas y 2 filas */
.skill-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas */
    grid-template-rows: repeat(2, auto);  /* 2 filas */
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #555;
    transition: transform 0.3s ease;
}

.skill p {
    font-size: 1rem;
    font-weight: 500;
}

/* Efecto de hover */
.skill:hover i {
    transform: scale(1.1);
}

/* Responsividad */
@media (max-width: 1024px) {
    .skill-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas, 3 filas */
        grid-template-rows: repeat(3, auto);
    }
}

@media (max-width: 768px) {
    .skill-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas, 4 filas */
        grid-template-rows: repeat(4, auto);
    }
}

@media (max-width: 480px) {
    .skill-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas, 6 filas */
        grid-template-rows: repeat(6, auto);
    }
    .skill i {
        font-size: 2rem;
    }
}
/* Estilo para el modo oscuro */
@media (prefers-color-scheme: dark) {
    .titulo {
        color: #fff; /* Título en blanco en el modo oscuro */
    }

    .skill i {
        color: #fff; /* Íconos en blanco en el modo oscuro */
    }

    /* Asegura que los textos también sean visibles y legibles en modo oscuro */
    .skill p {
        color: #fff; /* Texto en blanco para los íconos */
    }
}